html {
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 60px;
	background: #f8f7f3;
}

code, pre {
	font-family: monaco, 'Ubuntu Mono', Menlo, monospace;
}

body {
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: #C65D5D;
}

h1, h2 {
	font-weight: lighter;
}

nav {
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	right: 0;
	background: rgba(34, 34, 34, 0.93);
}

blockquote {
	border-left: 4px solid #c65d5d;
	background-color: #fcf0de;
	padding: 1px;
}

blockquote ul {
	margin-top: -15px;
}

blockquote ul > li {
	padding-left: 0 !important;
}

.logo {
	color: #fff;
	position: relative;
	margin: 7px 20px;
	transition: 0.2s ease;
}

.logo a {
	position: absolute;
	left: 60px;
	color: #fff;
}

.logo img {
	border: 2px solid #C65D5D;
	border-radius: 10px 0px;
	height: 34px;
	width: 41px;
	background-color: #f8f7f3;
	margin-left: -60px;
	padding: 3px;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    
}

.headroom--bottom {
	transform: translateY(0%) !important;
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.banner {
	position: relative;
	overflow: hidden;
	background-color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	height: 63vh;
}

.banner h1 {
	font-weight: bolder;
	position: relative;
	z-index: 2;
	padding: 50px 18px 0px;
	color: #fff;
	margin: 0;
	text-shadow: 1px 1px 1px #333;
}

.banner .bg {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity: 0.75;
}

.date, .topic {
	display: none;
	font-family: 'Source Sans Pro', sans-serif;
}

.topic p {
	line-height: 22px;
	margin: 8px 0px !important;
	padding: 0px 0px 0px 33px !important;
	font-style: italic;
}

.comments-box {
	border-top: 2px solid #C65D5D;
	position: absolute;
	font-weight: lighter;
	background-color: #f8f7f3;
	padding: 20px;
	left: -20vw;
	top: 180px;
	box-sizing: border-box;
	width: 18vw;
	border-radius: 0 0 10px 10px;
}

.footer-comments-box {
	padding: 15px;
}

.content {
	background-color: #f8f7f3;
/*	color: #424951;
	font-family: 'Asap', sans-serif;*/
}

.content h2 {
	font-size: 2em;
	margin-bottom: 1px;
	color: #C65D5D;
	padding: 0px 25px;
	font-family: 'Source Sans Pro', sans-serif;
}

.content h3 {
	margin-bottom: -10px;
	padding: 0px 25px;
	font-family: 'Source Sans Pro', sans-serif;
}

.content p > code, blockquote code {
	background-color: #343642;
	color: #ddd;
	padding: 3px;
	font-size: 0.82em;
	border-radius: 4px;
}

.content p, .content ul > li {
	padding: 5px 26px;
	line-height: 1.6;
	text-align: justify;
}

.content img {
	width: 100%;
	height: auto;
}

.content .emoji {
	width: 20px;
	height: 20px;
	position: relative;
	bottom: -4px;
}

.cat {
	background-color: rgba(34, 34, 34, 0.93);
	color: #fff;
	font-weight: lighter;
	font-size: 1.2em;
	padding: 5px 20px;
	margin-bottom: 15px;
}

.cat a {
	font-weight: normal;
}

.cat span {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}

footer {
	color:#424951;
	font-size: 0.9em;
	width: 100%;
	text-align: center;
	padding-bottom: 15px;
}

footer a {
	text-decoration: none;
	color: #444;
}

footer .links {
	color: #C65D5D;
	margin: 0px 20px;
}

footer [class^="icon-"], footer [class*=" icon-"] {
	font-size: 1.2em;
}

@media only screen and (min-width:768px) {
	html {
		background-color: #fcf0de;
	}

	.logo {
		margin: 7px 5vw;
	}

	.banner h1 {
		padding: 50px 0px;
		width: 90vw;
		margin: 0px auto;
	}

	.content {
		width: 90vw;
		margin: -100px auto 0px;
		z-index: 10;
		position: relative;
		box-sizing: border-box;
		padding: 20px 10px;
		border-bottom: 2px solid #C65D5D;
		border-top: 2px solid #C65D5D;
	}

	.cat {
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		box-sizing: border-box;
	}
}

@media only screen and (min-width:900px) {
	body {
		font-size: 1.2em;
	}

	.banner h1 {
		font-size: 2.3em;
	}

	.logo {
		margin: 7px 10vw;
	}

	.banner {
		height: 80vh;
	}

	.content {
		width: 65vw;
		margin-top: -30vh;
		margin-left: 30vw;
	}

	.cat {
		display: none;
	}

	.date {
		display: block;
		font-size: 1.2em;
		position: absolute;
		font-weight: lighter;
		background-color: #f8f7f3;
		padding: 20px;
		width: 25vw;
		box-sizing: border-box;
		border-top: 2px solid #C65D5D;
		left: -25vw;
		top: -2px;
	}

	.topic {
		display: block;
		width: 22vw;
		position: absolute;
		background-color: #333;
		color: #fff;
		box-sizing: border-box;
		padding: 15px;
		left: -25vw;
		top: 100px;
	}

	footer {
		margin-top: 25px;
	}

	.banner h1 {
		padding-top: 75px;
		text-align: center;
	}
}

@media only screen and (min-width:1100px) {
	.banner h1 {
		width: 75vw;
	}

	.content {
		width: 60vw;
		margin-left: 30vw;
	}

	.date {
		width: 20vw;
	}

	.topic {
		width: 18vw;
	}

	.date, .topic {
		left: -20vw;
	}
}