@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?lfjs9o');
    src:    url('../fonts/icomoon.eot?lfjs9o#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?lfjs9o') format('truetype'),
        url('../fonts/icomoon.woff?lfjs9o') format('woff'),
        url('../fonts/icomoon.svg?lfjs9o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bitbucket:before {
    content: "\e90f";
}
.icon-creative-commons-noncommercial-us:before {
    content: "\e907";
}
.icon-creative-commons-attribution:before {
    content: "\e908";
}
.icon-creative-commons:before {
    content: "\e909";
}
.icon-home:before {
    content: "\e900";
}
.icon-quill:before {
    content: "\e901";
}
.icon-envelop:before {
    content: "\e902";
}
.icon-bubbles:before {
    content: "\e90b";
}
.icon-trophy:before {
    content: "\e90c";
}
.icon-briefcase:before {
    content: "\e903";
}
.icon-cool:before {
    content: "\e904";
}
.icon-embed2:before {
    content: "\e905";
}
.icon-facebook2:before {
    content: "\e90a";
}
.icon-twitter:before {
    content: "\e906";
}
.icon-github:before {
    content: "\e90d";
}
.icon-linkedin:before {
    content: "\e90e";
}
.icon-file-pdf:before {
    content: "\e910";
}

