html {
	background:#f8f7f3;
	font-family:"Josefin Sans",sans-serif;
}

body {
	line-height:1.4;
	font-size:1em;
}

.wrapper {
	margin:0 auto;
	width:90%;
	padding-top:12%;
}

p {
	margin:0 auto 20px;
	font-size:1.2em;
	text-align:center;
	color:#424951;
	line-height:1.3em
}

.logo {
	width:102px;
	height:85px;
	margin:0 auto 20px;
	background:transparent url(../img/jp.svg) center center no-repeat;
	background-size:100%;
	text-indent:110%;
	white-space:nowrap;
	overflow:hidden
}

p {
	margin:0 auto 20px;
	font-size:1.2em;
	text-align:center;
	color:#424951;
	line-height:1.3em
}

.blink {
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0%, 30% {
  	opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink-animation {
  0%, 30% {
  	opacity: 1;
  }
  100% {
    opacity: 0;
  }
}