<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }} | Blog</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="Jyotish Poonganam">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/blog.css">
		{% if page.type == 'Tutorials' %}
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css">
		{% endif %}
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/icomoon.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400i,800' rel='stylesheet' type='text/css'>
		<!-- <link href="https://fonts.googleapis.com/css?family=Asap:400,400i|Open+Sans:300,800" rel="stylesheet"> -->
		<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
	</head>
	<body>
		<nav class="headroom">
			<h1 class="logo">
				<a href=""><img src="{{ site.baseurl }}/img/jp.svg"></a>
				<a href="">Blog</a>
			</h1>
			<!-- <a href="{{ site.baseurl }}/{{ page.back-url }}" style="float:right">Back</a> -->
		</nav>
		<div class="banner">
			<div class="bg" style="background-image:url({{ site.baseurl }}/img/{{ page.banner }})"></div>
			<h1>{{ page.title }}</h1>
		</div>
		<div class="content">
			<div class="date">On {{ page.date | date: '%B %d, %Y' }}</div>
			<div class="topic">{{ page.topic }} in {{ page.type }}</div>