@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fuvioe');
  src:  url('fonts/icomoon.eot?fuvioe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fuvioe') format('truetype'),
    url('fonts/icomoon.woff?fuvioe') format('woff'),
    url('fonts/icomoon.svg?fuvioe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-creative-commons-noncommercial-us:before {
  content: "\e900";
}
.icon-creative-commons-attribution:before {
  content: "\e901";
}
.icon-creative-commons:before {
  content: "\e902";
}
.icon-bitbucket:before {
  content: "\e903";
}
.icon-microchip:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-quill:before {
  content: "\e907";
}
.icon-books:before {
  content: "\e920";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-file-pdf:before {
  content: "\eadf";
}

